.DS_Store
a.out
*.o
.deps/
src/k3screenctrl
autom4te.cache/
Makefile.in
aclocal.m4
compile
config.cache
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
Makefile
